.hero {

  min-height: 90vh;
  display: flex;
  align-items: center;
}

.hero-content {

  text-align: center;
}

.hero h1 {

  font-size: 4rem;
  margin-bottom: 20px;
  color: var(--text-dark);
}

.hero p {

  max-width: 700px;
  margin: auto;
  color: var(--text-light);
  margin-bottom: 30px;
}